<div class="dashboard-main container-fluid d-flex p-0 m-0">
  <div class="dashboard-side d-md-flex col-md-2 flex-column pl-0 pr-0" [ngClass]="{'nav_show': env.showNav === true}">
    <!-- Side Menu Logo -->
    <app-side-menu></app-side-menu>
  </div>
  <div class="dashboard-body col-12 col-md-10 m-0 p-0">
    <app-nav></app-nav>
    <div class="topnav_margin">
      <div class="table_header p-2">
        <span class="font-weight-bold">Users</span>
      </div>
      <div class="d-flex flex-column mt-0">
        <div class="container-fluid p-0">
          <nav class="navbar navbar-expand">
            <ul class="search_ul navbar-nav mx-auto">
              <li class="nav-item">
                <div class="form-group mb-0">
                  <i class="fa fa-search search-icon"></i>
                  <input class="form-control search_input" type="search" placeholder="Name or Phone" aria-label="Search" name="search" [(ngModel)]="searchText" (keyup)="searchUser(searchText)">
                </div>
              </li>
            </ul>
            <div class="form-group mb-0 text-right">
              <button class="btn btn-outline-success rounded-pill" data-toggle="modal" (click)="toggleAction()" data-target="#userForm"><i class="fa fa-plus-circle"></i> Add</button>
            </div>
          </nav>

          <!-- Table -->
          <div class="d-table table">
            <div class="d-none d-md-table-row table-head">
              <div class="d-table-cell tth">#</div>
              <div class="d-table-cell tth">First name</div>
              <div class="d-table-cell tth">Last name</div>
              <div class="d-table-cell tth">Phone</div>
              <div class="d-table-cell tth">State</div>
              <div class="d-table-cell tth">LGA</div>
              <div class="d-table-cell tth">Loan Status</div>
              <div class="d-table-cell tth">User Type</div>
              <div class="d-table-cell tth">Account Balance</div>
              <div class="d-table-cell tth">Debt</div>
            </div>

            <ng-container *ngIf="users.length !== 0">
              <div class="d-flex mt-2 mt-md-0 flex-wrap d-md-table-row table-row" *ngFor="let user of users" (click)="editForm(user)" id="{{users.indexOf(user)}}" data-toggle="modal" data-target="#userForm" [ngClass]="{'active-row': id === users.indexOf(user)}" (click)="activeSelect(users.indexOf(user))">
                <div class="d-none d-md-table-cell ttr">{{users.indexOf(user) + 1}}</div>
                <div class="d-block col-6 font-weight-bold col-md-auto d-md-table-cell ttr">{{user.firstName}}</div>
                <div class="d-block col-6 col-md-auto text-left text-md-left d-md-table-cell ttr">{{user.lastName}}</div>
                <div class="d-block col-6 d-table-cell col-6 mt-3 mt-md-0 col-md-auto ttr">{{user.phone}}</div>
                <div class="d-block d-table-cell col-6 mt-3 mt-md-0 col-md-auto text-left text-md-left ttr">{{user.state}}</div>
                <div class="d-table-cell col-6 mt-3 mt-md-0 col-md-auto ttr">{{user.lga}}</div>
                <div class="d-table-cell col-6 mt-3 mt-md-0 col-md-auto ttr">{{user.loanStatus}}</div>
                <div class="d-none d-md-table-cell mt-3 mt-md-0 col-md-auto ttr">{{user.userType}}</div>
                <div class="d-table-cell col-6 mt-3 mt-md-0 col-md-auto ttr text-success">&#x20A6;{{user.accountBalance}}</div>
                <div class="d-table-cell col-6 mt-3 mt-md-0 col-md-auto ttr text-danger">&#x20A6;{{user.repaymentAmount}}</div>
              </div>
            </ng-container>

          </div>
          <!-- Spinner -->
          <div class="container-fluid text-center mt-3" *ngIf="users.length === 0">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="userForm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="userForm" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add/Edit User</h5>
            <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form class="user_form" [formGroup]="formGroup">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstName">FirstName</label>
                  <input type="text" class="form-control" id="firstName" formControlName="firstName" [ngClass]="{'is-invalid': formGroup.get('firstName').touched && formGroup.get('firstName').invalid}">
                  <div class="invalid-feedback">
                    <div>Firstname is required</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="lastName">LastName</label>
                  <input type="text" class="form-control" id="lastName" formControlName="lastName" [ngClass]="{'is-invalid': formGroup.get('lastName').touched && formGroup.get('lastName').invalid}">
                  <div class="invalid-feedback">
                    <div>Lastname is required</div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" formControlName="email" [ngClass]="{'is-invalid': formGroup.get('email').touched && formGroup.get('email').invalid}">
                  <div class="invalid-feedback" *ngIf="formGroup.get('email').touched && formGroup.get('email').invalid">
                    <div *ngIf="formGroup.get('email').errors.required">Email is required</div>
                    <div *ngIf="formGroup.get('email').errors.email">Invalid Email</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="phone">Phone</label>
                  <input type="tel" class="form-control" id="phone" name="phone" maxlength="11" formControlName="phone" [ngClass]="{'is-invalid': formGroup.get('phone').touched && formGroup.get('phone').invalid}">
                  <div class="invalid-feedback">
                    <div>Phone is required</div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="state">State</label>
                  <select id="state" class="form-control custom-select" name="state" formControlName="state" (change)="getLGA()" [ngClass]="{'is-invalid': formGroup.get('state').touched && formGroup.get('state').invalid}">
                    <option>Choose...</option>
                    <option *ngFor="let states of allStates" value={{states}}>{{states}}</option>
                  </select>
                  <div class="invalid-feedback">
                    <div>State is required</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="lga">LGA</label>
                  <select id="lga" class="form-control custom-select" name="lga" formControlName="lga" [ngClass]="{'is-invalid': formGroup.get('lga').touched && formGroup.get('lga').invalid}">
                    <!--<option *ngIf="formGroup.value.lga" value="{{formGroup.value.lga}}" selected>{{formGroup.value.lga}}</option>-->
                    <option *ngFor="let lga of stateLga" value="{{lga}}">{{lga}}</option>
                  </select>
                  <div class="invalid-feedback">
                    <div>LGA is required</div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="gender">Gender</label>
                  <select id="gender" class="form-control custom-select" name="gender" formControlName="gender" [ngClass]="{'is-invalid': formGroup.get('gender').touched && formGroup.get('gender').invalid}">
                    <option selected>Choose...</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                  <div class="invalid-feedback">
                    <div>Gender is required</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="savingsCategory">Savings Category</label>
                  <select id="savingsCategory" class="form-control custom-select" name="savingsCategory" formControlName="savingsCategory" [ngClass]="{'is-invalid': formGroup.get('savingsCategory').touched && formGroup.get('savingsCategory').invalid}">
                    <option selected>Choose...</option>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                  </select>
                  <div class="invalid-feedback">
                    <div>Savings Category is required</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="businessAddress">Business Address</label>
                <input type="text" class="form-control" id="businessAddress" placeholder="Business Address"
                       name="businessAddress" formControlName="businessAddress" [ngClass]="{'is-invalid': formGroup.get('businessAddress').touched && formGroup.get('businessAddress').invalid}">
                <div class="invalid-feedback">
                  <div>Business Address is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="homeAddress">Home Address</label>
                <input type="text" class="form-control" id="homeAddress" placeholder="Home Address" name="homeAddress" formControlName="homeAddress" [ngClass]="{'is-invalid': formGroup.get('homeAddress').touched && formGroup.get('homeAddress').invalid}">
                <div class="invalid-feedback">
                  <div>Home Address is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="userType">User Type</label>
                <select id="userType" class="form-control custom-select" name="userType" formControlName="userType" [ngClass]="{'is-invalid': formGroup.get('userType').touched && formGroup.get('userType').invalid}">
                  <option selected>Choose...</option>
                  <option value="customer">Customer</option>
                  <option value="agent">Agent</option>
                </select>
                <div class="invalid-feedback">
                  <div>User Type is required</div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="pin">PIN</label>
                  <input type="tel" maxlength="4" class="form-control" id="pin" placeholder="4 Digits PIN" name="pin" formControlName="pin" [ngClass]="{'is-invalid': formGroup.get('pin').touched && formGroup.get('pin').invalid}">
                  <div class="invalid-feedback">
                    <div>PIN is required</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                <label for="pin2">Confirm PIN</label>
                <input type="tel" maxlength="4" class="form-control" id="pin2" placeholder="4 Digits PIN" name="pin2" formControlName="pin2" [ngClass]="{'is-invalid': formGroup.get('pin2').touched && formGroup.get('pin2').invalid}">
                  <div class="invalid-feedback">
                    <div>PIN2 is required</div>
                  </div>
                </div>
              </div>

              <!--<div class="form-row">-->
                <!--<div class="form-group col-md-6">-->
                  <!--<label for="password">Password</label>-->
                  <!--<input type="password" class="form-control" id="password" placeholder="4 Digits PIN" name="password" formControlName="password" [ngClass]="{'is-invalid': formGroup.get('password').touched && formGroup.get('password').invalid}">-->
                <!--</div>-->
                <!--<div class="form-group col-md-6">-->
                    <!--<label for="password2">Confirm</label>-->
                    <!--<input type="password" class="form-control" id="password2">-->
                <!--</div>-->
              <!--</div>-->

              <button type="submit" class="btn btn-outline-primary rounded-pill container" [ngClass]="{'d-none': updateBtn}" [disabled]="!formGroup.valid" (click)="submit()">
                <span *ngIf="showLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span *ngIf="!showLoader">Create User</span>
              </button>

              <button type="submit" class="btn btn-outline-primary rounded-pill container" [ngClass]="{'d-none': !updateBtn}" [disabled]="!formGroup.valid" (click)="update()">
                <span *ngIf="showLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span *ngIf="!showLoader">Update User</span>
              </button>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger rounded-pill" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>



