<div class="dash-logo pl-4 mb-5 mt-3 col-md-2" routerLink="/dashboard"><img src="../../assets/img/logo-trans.svg" class="side_logo" alt="Logo" /></div>

<!-- Side Menu Items -->
<div class="d-flex flex-column p-0 m-0">
  <div class="side-menu-item text-left p-3" routerLink="/users" routerLinkActive="active">
    <span class="menu_items"><i class="fa fa-user mr-2"></i> Users</span>
  </div>
  <div class="side-menu-item text-left p-3" routerLink="/products" routerLinkActive="active">
    <div class="menu_items"><i class="fa fa-shopping-bag mr-2"></i> Products</div>
  </div>
  <div class="side-menu-item text-left p-3" routerLink="/settings" routerLinkActive="active">
    <div class="menu_items"><i class="fa fa-cog mr-2"></i> Settings</div>
  </div>
  <div class="side-menu-item text-left p-3" routerLink="/support" routerLinkActive="active">
    <div class="menu_items"><i class="fa fa-info-circle mr-2"></i> Support</div>
  </div>
  <div class="side-menu-item text-left p-3" routerLink="/transactions" routerLinkActive="active">
    <div class="menu_items"><i class="fa fa-money-bill mr-2"></i> Transactions</div>
  </div>
  <div class="side-menu-item text-left p-3" routerLink="/withdrawals" routerLinkActive="active">
    <div class="menu_items"><i class="fa fa-hand-holding mr-2"></i> Withdrawals</div>
  </div>
  <div class="side-menu-item text-left p-3" routerLink="/loan-request" routerLinkActive="active">
    <div class="menu_items"><i class="fa fa-hand-holding-usd mr-2"></i> Loan Request</div>
  </div>
  <div class="side-menu-item text-left p-3" routerLink="/loan-guarantors" routerLinkActive="active">
    <div class="menu_items"><i class="fa fa-users mr-2"></i> Loan Guarantors</div>
  </div>
  <div class="side-menu-item text-left p-3" routerLink="/product-category" routerLinkActive="active">
    <div class="menu_items"><i class="fa fa-shopping-cart mr-2"></i> Product Categories</div>
  </div>
</div>
